.global-container {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('../../img/intro.jpg') no-repeat center/cover;
    background-size: cover;
    /* min-height: 980px; */
    position: relative;
    height: 100vh;

}

.global-container .caption h1 {
    font-size: 3.5rem;
}

/* .global-container {
    display: flex;
    align-items: center;
    justify-content: center;

} */

.global-container .caption p {
    font-size: 1.8rem;
}

.content-container {
    margin: 50px auto 0;
    max-width: 700px;
}
.content-container h1 {
    font-size: clamp(30px, 5vw, 50px);
}
.content-container p {
    font-size: clamp(18px, 3vw, 20px);
}
@media screen and (max-width: 700px){
    .content-container {
        margin: 50px 3vw 0;
    }
}